In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\Deepak'

In [4]:
cd\Users\Deepak\Desktop

C:\Users\Deepak\Desktop

In [5]:
data = pd.read_csv('nba_2013.csv')

In [6]:
data.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [18]:
dst_columns = [i for i in data.select_dtypes(include = 'number').columns]

In [47]:
dst_columns

['age',
 'g',
 'gs',
 'mp',
 'fg',
 'fga',
 'fg.',
 'x3p',
 'x3pa',
 'x3p.',
 'x2p',
 'x2pa',
 'x2p.',
 'efg.',
 'ft',
 'fta',
 'ft.',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pf',
 'pts',
 'season_end']

In [79]:
x_columns = data.select_dtypes(include = 'number').drop(['pts','season_end'], axis = 1)

In [62]:
y_columns = data['pts']

In [48]:
x_columns.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,53,0.660,72,144,216,28,23,26,30,122
1,20,81,20,1197,93,185,0.503,0,0,NaN,...,136,0.581,142,190,332,43,40,57,71,203
2,27,53,12,961,143,275,0.520,0,0,NaN,...,119,0.639,102,204,306,38,24,36,39,108
3,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,336,0.815,32,230,262,248,35,3,146,136
4,25,56,30,951,136,249,0.546,0,1,0.000000,...,67,0.836,94,183,277,40,23,46,63,187

In [63]:
y_columns.head()

0     171
1     265
2     362
3    1330
4     328
Name: pts, dtype: int64

In [68]:
x_columns.isnull().sum()

age      0
g        0
gs       0
mp       0
fg       0
fga      0
fg.      2
x3p      0
x3pa     0
x3p.    67
x2p      0
x2pa     0
x2p.     3
efg.     2
ft       0
fta      0
ft.     20
orb      0
drb      0
trb      0
ast      0
stl      0
blk      0
tov      0
pf       0
dtype: int64

In [82]:
x_columns.mean()

age       26.509356
g         53.253638
gs        25.571726
mp      1237.386694
fg       192.881497
fga      424.463617
fg.        0.436436
x3p       39.613306
x3pa     110.130977
x3p.       0.285111
x2p      153.268191
x2pa     314.332640
x2p.       0.466947
efg.       0.480752
ft        91.205821
fta      120.642412
ft.        0.722419
orb       55.810811
drb      162.817048
trb      218.627859
ast      112.536383
stl       39.280665
blk       24.103950
tov       71.862786
pf       105.869023
dtype: float64

In [85]:
"""treating all nan values by replacing them with the mean values"""

'treating all nan values by replacing them with the mean values'

In [83]:
x_columns.fillna(x_columns.mean(), inplace=True)

In [84]:
x_columns.isnull().sum()

age     0
g       0
gs      0
mp      0
fg      0
fga     0
fg.     0
x3p     0
x3pa    0
x3p.    0
x2p     0
x2pa    0
x2p.    0
efg.    0
ft      0
fta     0
ft.     0
orb     0
drb     0
trb     0
ast     0
stl     0
blk     0
tov     0
pf      0
dtype: int64

In [65]:
from sklearn.model_selection import train_test_split

In [86]:
x_train, x_test, y_train, y_test = train_test_split(x_columns, y_columns)

In [87]:
from sklearn.neighbors import KNeighborsRegressor
# Create the knn model.
knn = KNeighborsRegressor(n_neighbors=5)
# Fit the model on the training data.
knn.fit(x_train, y_train)
# Make predictions on the test set using the fit model.
predictions = knn.predict(x_test)

In [100]:
predictions

array([1.2000e+00, 1.3476e+03, 1.5180e+02, 6.4720e+02, 1.5600e+01,
       3.5900e+02, 1.9620e+02, 1.1600e+03, 2.8640e+02, 3.1040e+02,
       4.2420e+02, 1.5200e+01, 1.5826e+03, 3.2660e+02, 1.0078e+03,
       7.4400e+01, 1.0000e+00, 3.4800e+01, 2.4200e+02, 3.9080e+02,
       4.6260e+02, 1.2000e+00, 6.1600e+02, 2.0760e+02, 3.9400e+02,
       8.3600e+01, 1.6840e+02, 3.8980e+02, 1.6960e+02, 4.9000e+02,
       6.8400e+01, 6.6060e+02, 7.6260e+02, 5.6360e+02, 1.0940e+02,
       1.0940e+02, 5.9120e+02, 8.1200e+02, 3.9000e+01, 2.5000e+02,
       1.1438e+03, 1.0720e+02, 1.4514e+03, 5.1540e+02, 1.7200e+01,
       3.0440e+02, 8.1940e+02, 5.6580e+02, 4.7120e+02, 7.9500e+02,
       1.0940e+02, 3.9000e+01, 1.0870e+03, 1.7400e+01, 3.3820e+02,
       6.0080e+02, 9.3500e+02, 4.0880e+02, 6.2620e+02, 1.1166e+03,
       1.3160e+02, 5.9480e+02, 1.6600e+02, 2.5460e+02, 3.5280e+02,
       5.7660e+02, 7.7180e+02, 1.9488e+03, 1.0178e+03, 1.2560e+02,
       8.3460e+02, 1.2900e+02, 8.5400e+01, 8.8200e+01, 5.9400e+01,
       1.4200e+01, 1.6420e+02, 1.9800e+01, 2.6400e+01, 6.7800e+01,
       6.9320e+02, 8.1040e+02, 3.3840e+02, 3.7180e+02, 8.6000e+01,
       1.2740e+02, 7.4740e+02, 8.5600e+01, 1.0242e+03, 7.7600e+01,
       7.9200e+02, 1.3554e+03, 3.2400e+01, 1.0940e+02, 3.1640e+02,
       1.3314e+03, 1.2350e+03, 6.5400e+01, 1.0272e+03, 3.3700e+02,
       1.7440e+02, 1.2700e+02, 1.0200e+01, 5.9640e+02, 2.9660e+02,
       1.2308e+03, 9.8000e+00, 4.2780e+02, 7.9140e+02, 1.7566e+03,
       1.8460e+02, 3.2120e+02, 1.2358e+03, 4.8000e+00, 1.6880e+02,
       6.7640e+02, 2.7720e+02, 5.0700e+02, 1.8820e+02, 1.5346e+03,
       1.5320e+02])

In [104]:
knn.score(x_test,y_test)

0.9735259901197784